# Chapter 8

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.Series(np.random.randn(9),
                index=[['a','a','a','b','b','c','c','d','d'],
                      [1,2,3,1,3,1,2,2,3]])

In [4]:
data

a  1    1.244350
   2    0.087766
   3    0.046468
b  1    2.391580
   3   -0.715009
c  1    0.162644
   2   -1.204025
d  2   -1.655454
   3   -0.795184
dtype: float64

In [5]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [6]:
data['b']

1    2.391580
3   -0.715009
dtype: float64

In [7]:
data['b':'c']

b  1    2.391580
   3   -0.715009
c  1    0.162644
   2   -1.204025
dtype: float64

In [8]:
data.loc[['b','c']]

b  1    2.391580
   3   -0.715009
c  1    0.162644
   2   -1.204025
dtype: float64

In [9]:
data.loc[['b','d']]

b  1    2.391580
   3   -0.715009
d  2   -1.655454
   3   -0.795184
dtype: float64

In [10]:
data['b':'d']

b  1    2.391580
   3   -0.715009
c  1    0.162644
   2   -1.204025
d  2   -1.655454
   3   -0.795184
dtype: float64

In [12]:
data.loc[:,2]

a    0.087766
c   -1.204025
d   -1.655454
dtype: float64

In [13]:
data.unstack()

          1         2         3
a  1.244350  0.087766  0.046468
b  2.391580       NaN -0.715009
c  0.162644 -1.204025       NaN
d       NaN -1.655454 -0.795184

In [14]:
data.unstack().stack()

a  1    1.244350
   2    0.087766
   3    0.046468
b  1    2.391580
   3   -0.715009
c  1    0.162644
   2   -1.204025
d  2   -1.655454
   3   -0.795184
dtype: float64

In [22]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index=[['a','a','b','b'],[1,2,1,2]],
                     columns = [['Ohio','Ohio','Colorado'],
                               ['Green','Red','Green']])

In [23]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [24]:
frame.index.names = ['key1','key2']

In [25]:
frame.columns.names = ['state','color']

In [26]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [27]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10